# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/goldenlily wordpress theme/
/creativemarket/
/coming soon.psd
/waterlily_basepage.psd
/vibrantblog.psd
/slideshow.psd
/pinkpage.psd
/polylang-slug-master.zip
/pastel-blog.psd
/mainpage-Recovered.psd
/mainpage.psd
